<%- if controller_name != 'sessions' %>
  <%= link_to "こちら", new_session_path(resource_name) %>からログインしてください。<br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="border">会員登録がお済みでない方</div>
  <%= link_to "こちら", new_registration_path(resource_name) %>から新規登録してください。<br />
<% end %>
