<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="h3text">検索結果</h3>
          
          <table class="table table-hover table-inverse">
            <!--検索対象モデルがRestaurantの時 -->
              <tbody>
                <% @restaurants.each do |restaurant| %>
                  <tr>
                    <td>
                      <%= link_to restaurant_path(restaurant.id) do %>
                      <%= restaurant.name %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            
          </table>
        </div>
        <% if customer_signed_in? %>
        <div class="col-md-4">
            
            <%= render 'public/searches/search', searches: @searches %>
        </div>
    <% end %>
    </div>
</div>