<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="intro">立川へようこそ！</br>
            立川の魅力をグルメでお届け！</br>
            行きたいお店に迷ったとき、</br>
            立川グルメマップがあなたの居場所や気分に合わせて</br>
            ぴったりのお店をお調べいたします！</div>
        </div>
    <% if customer_signed_in? %>
        <div class="col-md-4">
            
            <%= render 'public/searches/search', searches: @searches %>
        </div>
    <% end %>
    </div>
</div>
