<% if @restaurant.favorited_by?(current_customer) %>
    <p>
      <%= link_to restaurant_favorites_path(@restaurant), method: :delete do %>
        ♥<%= @restaurant.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to restaurant_favorites_path(@restaurant), method: :post do %>
        ♡<%= @restaurant.favorites.count %> いいね
      <% end %>
    </p>
<% end %>