<% if restaurant.favorited_by?(current_customer) %>
    <p>
      <%= link_to restaurant_favorites_path(restaurant), method: :delete, remote: true do %>
        ♥<%= restaurant.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to restaurant_favorites_path(restaurant), method: :post, remote: true do %>
        ♡<%= restaurant.favorites.count %> いいね
      <% end %>
    </p>
<% end %>