<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>店舗詳細</h3>
            
            
             <table class="table table-borderless">
             <tr>
                 <td>店舗名</td>
                 <td></td>
             </tr>
             <tr>
                 <td>店舗住所</td>
                 <td></td>
             </tr>
             <tr>
                 <td>ジャンル</td>
                 <td></td>
             </tr>
             <tr>
                 <td>営業時間</td>
                 <td></td>
             </tr>
             </table>
             
             <%= link_to "この店舗のレビューをする", new_review_path, class: "btn btn-success" %>
        </div>
    <% if customer_signed_in? %>
        <div class="col-md-4">
            
            <%= render 'public/searches/search', searches: @searches %>
        </div>
    <% end %>
    </div>
</div>